@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300&display=swap");

body {
  background: #024a59;
  background-image: radial-gradient(circle at 65.24% 28.23%, #00b1bb 0, #009baa 12.5%, #008294 25%, #006778 37.5%, #014a59 50%, #0e2f3a 62.5%, #0a313e 75%, #072e3c 87.5%, #023647 100%);
}

.navigator {
  position: sticky;
  top: 0px;
  height: 70px;
  width: 100%;
  background: #f8f9e9;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo-alura {
  padding-right: 100px;
  padding-left: 40px;
}

.logo-one {
  padding-left: 400px;
  padding-right: 0px;
}

@media screen and (max-width: 800px) {
    .logo-alura {
      padding-right: 0px;
      padding-left: 10px;
      height:30px;
    }
  
    .logo-one {
      padding-left: 20px;
      padding-right: 0px;
      height:30px;
    }
  
    .navigator {
      top: 0px;
      height: 25px;
      width: 100%;
      background: #f8f9e9;
      display: flex;
      /* flex-wrap: wrap; */
      /* flex-direction: row; */
      justify-content: space-between;
      align-items: center;
    }
  }

@media screen and (max-width: 768px) {
  .logo-alura {
    padding-right: 0px;
    padding-left: 10px;
  }

  .logo-one {
    padding-left: 20px;
    padding-right: 0px;
  }

  .navigator {
    top: 0px;
    height: 70px;
    width: 100%;
    background: #f8f9e9;
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
  }
}
